@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Adjust the transition duration as needed */
}

.card-container .active {
    transform: translateY(-100%);
}

.NewsCard {
    /* Your NewsCard styles */
}

.swipe-down {
    animation: swipeDown 0.3s ease both;
}

@keyframes swipeDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}




